:root {
    --bg-purple: #7e22ce;
}

* {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.header {
    background-color: white;
}

.sidebar {
    background-color: var(--bg-purple);
    grid-column: 1/2;
    grid-row: 1/span 2;
    color: white;
}

.content {
    background-color: #e7e5e4;
}