@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

:root {
    --bg-purple: #9139de;
    --bg-puprple-darker: #5f07ac;
    --bg-grey: #dfdfdf;
    --bg-grey2: #f4e8e8;
    --bg-green: #2db860;
    --txt-username: #7b7470;
    --shadow1: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    --shadow2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

body {
    overflow: hidden;
}


.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
}

/*HEADER*/

.header {
    background-color: white;
    padding: 1.5rem 3rem;
    box-shadow: var(--shadow1);
    z-index: 3;
}



.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    grid-template-columns: 1fr max-content;
}

.account {
    display: flex;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 1rem 5rem;
    gap: 1.8rem;
    line-height: 1;

}

.account span {
    font-size: 1.8rem;
}

button {
    border: none;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.search {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-right: auto;

}

.search>input {
    padding: 0.8rem 25rem 0.8rem 1rem;
    border-radius: 50px;
    background-color: var(--bg-grey);
    margin-right: auto;
    border: none;
    transition: border-color 0.1s;

}

.search>input:hover,
.search>input:focus {
    border: 3px solid var(--bg-purple);
}




.search span {
    font-size: 1.8rem;
}

.account .avatar img {
    width: 40px;
    height: 40px;
}

.account .username {
    display: flex;
    width: 10vh;
    align-self: center;

}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom img {
    width: 70px;
    height: 70px;
    margin-right: 1.2rem;
}

.profile {
    display: flex;
}

.hello {
    font-weight: 800;

}

.profile .username {
    font-weight: 800;
    font-size: 2rem;
}

span.user {
    color: var(--txt-username);
    font-size: 1.5rem;
}

.bottom .buttons {
    display: flex;
    gap: 1.5rem;

}

.bottom button {
    background-color: var(--bg-purple);
    color: white;
    font-weight: 800;
    font-size: 1.1rem;
    padding: 0.55rem 2.5rem;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border: 3px solid transparent;
}

.bottom button:hover {
    background-color: var(--bg-puprple-darker);
}


/*SIDEBAR*/

.sidebar {
    background-color: var(--bg-purple);
    grid-column: 1/2;
    grid-row: 1/span 2;
    color: white;
    padding: 2rem;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.sidebar .title {
    font-size: 1.8rem;
}

.title .mdi {
    margin-right: 0.5rem;
}

.navbar {
    display: grid;
    gap: 1.2rem;
    align-content: center;
    font-size: 1.4rem;
    margin-top: 3.5rem;
    font-weight: 300;
}

a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.nav-item.selected {
    font-weight: 800;
}

.navbar .mdi {
    margin-right: 1rem;
}

.support {
    display: grid;
    gap: 1.2rem;
    align-content: center;
    font-size: 1.4rem;
    margin-top: 3.5rem;
    font-weight: 300;
}

.support .mdi {
    margin-right: 1rem;

}

/*CONTENT*/
.content {
    background-color: #e7e5e4;
    display: grid;
    padding: 2rem;
    overflow: auto;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 2rem;
    grid-template-areas: 'projects announcements'
        'projects trending';
    max-height: 100%;
}

.card {
    border-radius: 0.5rem;
    box-shadow: var(--shadow2);
}

.projects h4 {
    font-size: 1.2rem;
}

.card p {
    color: var(--txt-username);
}

.content h3 {
    margin-bottom: 0.8rem;
}


.projects {
    grid-area: projects;

}

.projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 2rem;
}

.projects .card {
    background-color: white;
    border-left: 10px solid var(--bg-green);
    padding: 2rem;
    display: grid;

}

.projects .icons {
    font-size: 1.8rem;
    display: flex;
    justify-content: flex-end;
    gap: 1.3rem;
}

.announcements {
    grid-area: announcements;
}

.announcement {
    width: 25ch;
    padding: 1rem 0;
}

.announcement:first-child {
    padding-top: 0;
}

.announcement+.announcement {
    border-top: 1px solid var(--bg-grey2);
}

.announcements .card {
    background-color: white;
    padding: 2rem;
}

.announcement p {
    overflow: hidden;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.trending {
    grid-area: trending;
}

.trending .trend {
    display: flex;
    align-items: center;
}

.trend-1,
.trend-2,
.trend-3 {
    padding-bottom: 1rem;
}

.trending p {
    font-size: 0.9rem;
}



.trending .card {
    background-color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.trending-img {
    height: 40px;
    width: 40px;
    margin-right: 0.8rem;
}

.trending .username {
    font-weight: 500;
    font-size: 1rem;

}

.trending .description {
    color: var(--txt-username);
}